{% extends "OcasoOcasoBundle::plantilla.html.twig" %}
{% block title "cambio de controlador" %}

{% block content_header '' %}

{% block content %}
<h1>Otro Controlador, primera accion</h1>
<h2>enlazado desde otro controlador del mismo bundle</h2>
<ul>
   <li><strong>Enlaces</strong></li>
   <li><a href="http://www.mkvigo.com">mkvigo</a></li>
   <li><a href="http://www.ubuntu.com">Ubuntu</a></li>
   <li><a href="http://www.mandarinahome.es">MandarinaHome</a></li>
</ul>
{% endblock %}

