{% extends "Siga21SociosBundle::basesocios.html.twig" %}
{% block title "error de Busqueda por id" %}
{% block cabeza %}
	<h1>Error Socios</h1>
{% endblock %}
{% block contenido %}
<center>
<br />
<h1>Ese socio no existe...cenutrio</h1>
</center>
{% endblock %}

{% block footer %}
<p>(c) nocopyright 2011</p>
{% endblock %}
