<h1>Nuevo socio</h1>

<form action="{{ path('mano_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Aceptar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('mano') }}">
            Volver a la lista
        </a>
    </li>
</ul>
