{% extends "OcasoOcasoBundle::layout.html.twig" %}
{% block title "O noso Bundle" %}

{% block content_header '' %}

{% block content %}
<center><h1>Portada</h1>
<h2>Usuario: {{ name }}</h2></center>
<ul>
   <li><a href="{{ path('Siga21SociosBundle_homepage') }} ">SOCIOS</a></li>
   <li><a href="{{ path('Ocaso_adios', { 'name':'Dardi' }) }} ">Segunda accion primer controlador</a></li>
   <li><a href="http://www.ubuntu.com">Ubuntu</a></li>
   <li><a href="http://www.mandarinahome.es">MandarinaHome</a></li>
</ul>
{% endblock %}
