{% extends "OcasoOcasoBundle::layout.html.twig" %}
{% block title "O noso Bundle" %}

{% block content_header '' %}

{% block content %}
<h1>Hola mundo {{ name }}!</h1>
<ul>
   <li><strong>Enlaces</strong></li>
   <li><a href="http://www.google.es">Google</a></li>
   <li><a href="http://www.ubuntu.com">Ubuntu</a></li>
   <li><a href="http://www.mandarinahome.es">MandarinaHome</a></li>
</ul>
{% endblock %}
