{% extends "Siga21SociosBundle::basesocios.html.twig" %}
{% block title "Ver dni" %}
{% block cabeza %}
<h1>Letra DNI</h1>
{% endblock %}
{% block contenido %}
<center>
<p>o teu numero e o {{ numerito }}</p>


</center>
{% endblock %}
{% block footer %}
<p>(c) nocopyright 2011</p>
{% endblock %}
